body {
  list-style: none;
  color: #333;
  margin:0px;
}
.main{
  background-color:antiquewhite;
  border:10px solid black;
}
.body-kitchen{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4em;
}
.container{
  display: flex;
}
.main-kitchen{
  background-image: url("backKit.jpeg");
  width:1820px;
  height:1080px;
  background-size: 1800px 1100px;
}

#borderLeft img{
  box-shadow: none;
  height:1080px;
}
#borderRight img{
  box-shadow: none;
  height:1080px;
}

#borderRight{
  display: inline-block;
  justify-content: right;
  align-items: center;
}
.dynamic-main{
  height:850px;
  width:1800px;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #af2d2f;
}

.header {
  background-color: #000;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul li {
  padding: 0 30px;
}
.nav ul li a {
  color: #fff;
  display: block;
  padding: 0 10px;
}
.nav ul li a:hover{
  background-color: #ddd;
  color:black;
}
.nav ul li a.cur {
  background-color:#934D3C;
  color: rgb(255, 255, 255);
  font-size: larger;
  border:3px solid #000000; 
  box-shadow:0px 0px 10px 10px #934D3C;
}
.listimg{
  display: flex;
  justify-content: space-around;
}
.listimg ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  width:1800px;
  height:280px;
  overflow: hidden;
}
.listimg ul  li img{
  width: 340px;
  height: 280px;
}
.chooseimg{
  display: flex;
  font-size: 2em;
  justify-content: center;
  justify-content: space-evenly;
}
.layout{
  display: flex;
  justify-content: space-between;
}
.left{
  margin-left: 8%;
  width: 580px;
  height: 580px;
}
.left img{
  width: 700px;
  height: 520px;
}
.left h3{
  text-align: center;
  line-height: 100px;
}
.right{
  width: 580px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right p{
  font-size: 1em;
  font-weight: bold;
}

.footer{
  padding: 0 30px;
  background-color: #000;
  color: #fff;
  text-align: right;
  line-height: 80px;
  font-size: 1em;
}
#leftArr{
  display: flex;
  padding-left: 3%;
  align-items: center;
  font-size: 6em;
  font-weight: bolder;
}
#rightArr{
  display: flex;
  padding-right: 3%;
  align-items: center;
  font-size: 6em;
  font-weight: bolder;
}
#display1{
  width: 700px;
  height:520px;
  border:5px solid black;
}
#display2{
  width: 700px;
  height:520px;
  border:5px solid black;
}
#display3{
  width: 700px;
  height:520px;
  border:5px solid black;
}
#display4{
  width: 700px;
  height:520px;
  border:5px solid black;
}

#tradition-intro1{
  width: 1000px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#bbrice{
  display:block;
  width:100px;
  height:100px;
  position:relative;
  left:1650px;
  top:460px;
}
#bbrice:hover{
  animation:hoverAni 2s infinite;
}
#hide{
  height:240px;
  width:420px;
  left:1400px;
  top:310px;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
#hide2{
  color: black;
  height:30px;
  position:absolute;
  border-radius: 25px;
  left:1580px;
  top:560px;
}
#tmmyan{
  display:block;
  width:100px;
  height:100px;
  position:relative;
  left:1390px;
  top:345px;
}
#tmmyan:hover{
  animation:hoverAni 2s infinite;
}
#hide4{
  color: black;
  position:absolute;
  height:380px;
  width:480px;
  left:1320px;
  background:#000;
  padding:1%;
  top:660px;
  border-radius: 25px;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
}
#hide3{
  height:30px;
  position:absolute;
  left:1570px;
  top:1050px;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
#zishu{
  width:150px;
  height:150px;
  position:absolute;
  top:93%;
  left:30%;
}
#zishu:hover{
  animation:hoverAni 2s infinite;
}
#hide5{
  color: black;
  height:30px;
  position:absolute;
  height:140px;
  width:350px;
  left:720px;
  background:#000;
  padding:1%;
  top:950px;
  border-radius: 25px;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
}
#barice{
  width:350px;
  height:350px;
  position:absolute;
  top:43%;
  left:60%;
}
#barice:hover{
  animation:hoverAni 2s infinite;
}
#hide6{
  height:30px;
  position:absolute;
  left:1370px;
  top:860px;
  border-radius: 25px;
  line-height: 1em;
  height: 30px;
}
#hide7{
  color: black;
  height:30px;
  position:absolute;
  height:180px;
  width:350px;
  left:1220px;
  background:#000;
  padding:1%;
  top:670px;
  border-radius: 25px;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
}
/*living room*/
.body-living{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4em;

}
.main-living{
  background-image: url("backLiv.png");
  width:1820px;
  height:1080px;
  background-size: 1800px 1100px;
}
#bed{
  position: relative;
  left:61%;
  top: 440px;
}
#bed:hover{
  animation:largeAni 2s infinite;
}
#liv{
  position:absolute;
  left:53%;
  top:62%;  
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
#earring{
  position: relative;
  left:1%;
  top:-20%;
  left:-20%;
  height:80px;
  width:80px;
}
#earring:hover{
  animation:hoverAni 2s infinite;
}
#liv2{
  position:absolute;
  left:26%;
  top:22%;  
  padding:1%;
  width:300px;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
#curtain{
  position: relative;
  left:-13%;
  top:1.6%;  
}
#curtain:hover{
  animation:largeAni 2s infinite;
}
#liv3{
  position:absolute;
  left:40%;
  top:17%;  
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
#skirt{
  position: relative;
  top:26%;
  left:-45%;
}
#sleeveless{
  position: relative;
  top:-36%;
  left:4%;
}
#sleeveless:hover{
  animation:hoverAni 2s infinite;
}
#liv5{
  position:absolute;
  left:7%;
  top:34%;  
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#head{
  position: relative;
  top:-30%;
  left:54%;
  height:110px;
  width:110px;
}
#head:hover{
  animation:hoverAni 2s infinite;
}
#liv6{
  position:absolute;
  left:58%;
  top:51%;  
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#lubuw{
  position: relative;
  top:-48%;
  left:57%;
  height:160px;
  width:160px;
}
#lubuw:hover{
  animation:hoverAni 2s infinite;
}
#liv7{
  position:absolute;
  left:48%;
  top:22%;  
  width:470px;
  height:350px;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#liv10{
  height:30px;
  position:absolute;
  left:65%;
  top:59%;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
#basket{
  position: relative;
  left:13%;
  top:2%;
}
#basket:hover{
  animation:hoverAni 2s infinite;
}
#liv8{
  position:absolute;
  left:38%;
  top:45%;  
  padding:1%;
  height:250px;
  width:400px;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#liv11{
  height:30px;
  position:absolute;
  left:53%;
  top:72%;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
#cloth{
  position: relative;
  left:-40%;
  top:0%;
  height:400px;
}
#cloth:hover{
  animation:largeAni 2s infinite;
}
#liv4{
  position:absolute;
  left:25%;
  top:40%;  
  width:450px;
  height:260px;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#liv9{
  height:30px;
  position:absolute;
  left:42%;
  top:68%;
  border-radius: 25px;
  line-height: 1em;
  z-index: 10;
}
@keyframes hoverAni{
  0%{
   transform:rotate(-4deg);
 }
 50%{
   transform:rotate(5deg);
 }
 100%{
   transform:rotate(-4deg);
 }
}
@keyframes largeAni{
  0%{
   transform:rotate(-2deg);
 }
 50%{
   transform:rotate(3deg);
 }
 100%{
   transform:rotate(-2deg);
 }
}
@keyframes largeAni{
  0%{
   transform:rotate(-2deg);
 }
 50%{
   transform:rotate(3deg);
 }
 100%{
   transform:rotate(-2deg);
 }
}
button:hover{
  font-weight:bold;
  background-color: #EABB42;
  color: #604C2A;
}

.footer a{
  color:white;
  font-size: 1.5em;
}
.footer a:hover{
  color:#EABB42;
}

.navbar{
  padding-top: 10px;
  font-weight: 300;
  line-height: 1;
}
.websiteName {
  float: right;
  color: white;
  margin-top:1.6%;
  font-size: 1.5em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 3%;
  letter-spacing: 15px;
}

/*hunter workshop*/
.main-hunter{
  font-size:1.4em;
}
.body-hunter .navbar .websiteName{
  font-size: 2em;
}
.main-hunter{
  background-image: url("backHunt.png");
  width:1820px;
  height:1080px;
  background-size: 1800px 1100px;
}
#gun{
  width:130px;
  height:300px;
  position:absolute;
  top:45%;
  left:12%;
}
#hunt2{
  position:absolute;
  width:250px;
  height:400px;
  position:absolute;
  top:40%;
  left:19%;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#hunt{
  color: black;
  height:30px;
  position:absolute;
  border-radius: 25px;
  left:26%;
  top:81%;
}
#gun:hover{
  animation:hoverAni 2s infinite;
}
#bow{
  width:150px;
  height:350px;
  position:absolute;
  top:45%;
  left:20%;
}
#hunt4{
  position:absolute;
  width:250px;
  height:300px;
  position:absolute;
  top:40%;
  left:29%;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#hunt3{
  color: black;
  height:30px;
  position:absolute;
  border-radius: 25px;
  left:36%;
  top:72%;
}
#bow:hover{
  animation:hoverAni 2s infinite;
}
#trap2{
  width:100px;
  height:150px;
  position:absolute;
  top:38%;
  left:18%;
}
#hunt6{
  position:absolute;
  width:330px;
  height:280px;
  position:absolute;
  top:35%;
  left:24%;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#hunt5{
  color: black;
  height:30px;
  position:absolute;
  border-radius: 25px;
  left:36%;
  top:65%;
}
#trap2:hover{
  animation:hoverAni 2s infinite;
}
#deer{
  width:400px;
  height:270px;
  position:absolute;
  top:13%;
  left:68%;
}
#hunt7{
  position:absolute;
  width:250px;
  height:80px;
  position:absolute;
  top:11%;
  left:72%;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#deer:hover{
  animation:hoverAni 2s infinite;
}
#arrow{
  width:250px;
  height:250px;
  position:absolute;
  top:42%;
  left:78%;
}
#hunt8{
  position:absolute;
  width:140px;
  height:15px;
  position:absolute;
  top:47%;
  left:76%;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#arrow:hover{
  animation:hoverAni 2s infinite;
}
#rabbit{
  width:100px;
  height:250px;
  position:absolute;
  top:19%;
  left:40%;
}
#hunt9{
  position:absolute;
  width:120px;
  height:80px;
  position:absolute;
  top:25%;
  left:45%;
  padding:1%;
  position:absolute;
  background:#000;
  color: antiquewhite;
  text-shadow: 1px 1px 0px #000;
  border-radius: 25px;
  line-height: 1em;
}
#rabbit:hover{
  animation:hoverAni 2s infinite;
}
