body {
    margin:0px;
  }
 
.main-restart{
    background-color: antiquewhite;
    height:1080px;
    width:1920px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
}
#main-title{
    margin-top: 3%;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(246, 160, 103);
    -webkit-text-stroke-color:  rgb(9, 9, 9);
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

ul {
    list-style: none;
}
.credits {
    font-size: -1;
    color: rgb(8, 22, 146);
    font-weight: 500i;
    text-align: center;
}
.websiteName {
    float: right;
    color: white;
    margin-top:1.6%;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 3%;
    letter-spacing: 15px;
  }