* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  width:1920px;
  height:1080px;
}

nav {
  grid-area: 1 / 1 / 2 / 13;
}

.heading {
  grid-area: 2 / 1 / 3 / 13;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: -10%;
}


#borderLeft{
  grid-area: 2 / 1 / 6 / 2;
  margin-top: 6%;
  margin-left: -5%;
}

#borderRight{
  grid-area: 2 / 12 / 6 / 13;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 6%;
  margin-right: -5%;
}

#questionPlaceholder {
  grid-area: 3 / 1 / 6 / 6;
  margin-top: -20%;
  margin-left: 15%;
  margin-right: 5%;
  font-size: 3rem;
  text-align: center;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

#options{
display: grid;
grid-area: 3 / 7 / 4 / 13;
margin-right: 10%;

}

#answerButton1 {
 margin-bottom: 5%;
font-size: 2.5rem;
border: none;
padding-top: 1%;
padding-bottom: 1%;
border-radius: 300px;
}

#answerButton2 {
  margin-bottom: 5%;
  font-size: 2.5rem;
  border: none;
  padding-top: 1%;
padding-bottom: 1%;
border-radius: 300px;
}

#answerButton3 {
  border: none;
  font-size: 2.5rem;
  padding-top: 1%;
padding-bottom: 1%;
border-radius: 300px;
}

.result {
  grid-area: 6 / 1 / 7 / 6;
  margin-left: 10%;
  margin-top: -45%;

}


#resultPlaceholder h2{
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

#incorrectSentencePlaceholder{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: -8%;
  text-align: center;
  margin-bottom: 10%;
}


.result h2{
  font-size: 3rem;
}

#nextQuestionButton {
  grid-area: 6 / 10 / 7 / 13;
  margin-top: -75%;
  display: flex;
  justify-content: center;
  align-items: center;


}

#nextQuestionButton button{
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-style: none;
  border-radius: 30px;
  margin-top: 5%;
  color: white;
  background-color: #333;
}

#nextQuestionButton button:hover{
  color: rgb(255, 0, 0);
  background-color: #dbdbdb;
}
button:hover{
  font-weight: bold;
  color:#604C2A;
}

footer {
  grid-area: 6 / 1 / 7 / 13;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.5rem;
  margin: -1.5%;
}

#endQuiz {
  grid-area: 3 / 1 / 6 / 13;
  margin-top: -35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#endQuiz h2{
  font-size: 3rem;
  font-weight: 500;
}

#score{
  font-size: 2rem;
  margin-left: 5%;
}


footer a{
  color: white;
  float: right;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}
footer a:hover{
  color:rgb(221, 182, 11);
}
a{
  text-decoration: none;
}